<!-- <img id="surferGif" src="https://i.gifer.com/6XS.gif"> -->
<div id="gifCtnr">
	<div id="confirmGreet">
		<h2>Far out! Your order is being processed.</h2>
	</div>
	<div id="credits">
		<h2>Thank you!</h2>
		<span>Gif created by <a href="https://dribbble.com/shots/2893108-Surfer-Boy">Katja Dylla.</a></span>
	</div>
	<form action="/" method="GET">
		<input class="btn" id="confirmToHome" type="submit" value="Return Home">
	</form>
</div>