<div id="orderCtnr">
	<h2>Place your order:</h2>
	<form id="orderForm" action="/new-order" method="POST">
		<textarea name="order" id="orderInput" rows="12" cols="50" placeholder="Type in your orders here"></textarea>
		<br>
		<input class="btn" id="orderBtn" type="submit" value="Submit">
	</form>	
</div>